* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    transition: 0.3s ease-out;
    scroll-behavior: smooth;
}
main{
    min-height: 89vh;
}

.letter-spacing {
    letter-spacing: 3px;
}

button:hover {
    transform: scale(1.04);
    transition: ease-out 0.3s;
}

#project1,
#project2,
#project3,
#project4 {
    min-height: 350px;
}
@media only screen and (max-width: 580px)   
    {
    #project1,
    #project2,
    #project3,
    #project4 {
    width: 90%;
    }
}

.navbar-brand i:hover {
    transform: scale(1.1) rotate(-16deg)
}

#profile-photo {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 8px 2px 25px rgb(0, 0, 0);
    filter: brightness(75%);
}
#profile-photo:hover {
    transform:scale(1.03) rotate(-3deg);
    filter: brightness(100%);
    cursor: pointer;
}   

.box {
    height: 280px;
}
#presentation{
    display:none;
    transform:scale(0);
    opacity: 0;
    max-width:60%;
    transition: transform 0.5s, opacity 0.5s
}
.show {
    display:block!important;
    transform: scale(1)!important;
    opacity: 1!important;
}

#scroll-about {
    margin: 0;
    padding: 10px;
}

#scroll-about::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#scroll-about::-webkit-scrollbar-thumb {
    background-color: rgba(0, 247, 255, 0.5);
    border-radius: 4px;
}

#scroll-about::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 160, 168, 0.5);
}
#scroll-about::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 4px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.carousel-item img {
    padding: 5px;
    width: 90px;
    height: 80px;
    object-fit:fill;
    border: 2px solid transparent;
    opacity: 0.8;
}
.carousel-item img:hover{
    border-color: rgba(0, 178, 187, 0.5);
    transform: scale(1.1);
    opacity: 1;
}
#social-media a:hover{
    transform:scale(1.05);
    opacity:1
}